faiss-cpu>=1.11.0
fastapi>=0.115.12
jupyter>=1.1.1
matplotlib>=3.10.3
numpy>=2.3.0
pandas>=2.3.0
pillow>=11.2.1
polars>=1.30.0
python-dotenv>=1.1.0
python-multipart>=0.0.20
torch
torchvision>=0.22.1
tqdm>=4.67.1
uvicorn>=0.34.3
